@font-face {
  font-family: 'HankenGrotesk';
  src: url('fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}
body {
  font-family: 'HankenGrotesk', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.attribution {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 1000px;
}

.contentContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 25px 15px 50px #6743ff1a;
  z-index: -1;
}
.summaryContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  max-width: 368px;
  min-width: 368px;
}
.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6743ff;
  background: linear-gradient(to top, #6743fe, #312ceb);
  border-radius: 20px;
  padding: 30px 20px;
  max-width: 368px;
  min-width: 368px;
}
.title {
  color: #cac6ff;
  margin-bottom: 35px;
  font-size: 1.3rem;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto;
  background-color: #8587df;
  background: linear-gradient(#4d23c9, #4636f100);
  border-radius: 50%;
  width: 215px;
  height: 215px;
  color: white;
}

.gray-text {
  color: #8578ff;
  font-size: 1rem;
}

.circle p {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 4.5rem;
}

.resultHeader {
  font-size: 2rem;
  padding: 0;
  margin: 35px 0 20px 0;
  line-height: 0;
  color: white;
}
.textContainer {
  max-width: 250px;
  padding: 0 40px;
  margin: 0;
}
.result {
  text-align: center;
  line-height: normal;
  color: #cac6ff;
  font-size: 1.1rem;
  line-height: 24px;
}
.summaryTitle {
  font-weight: bold;
  color: #31364a;
  font-size: 1.3rem;
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px 15px 5px 0;
  border-radius: 10px;
}
.reaction {
  background-color: #fff6f5;
}
.reaction p {
  color: #f55;
}
.subText {
  display: flex;
}
.subText img {
  padding: 0 13px;
}
.memory {
  background-color: #fffbf2;
}
.memory p {
  color: #ffb21e;
}
.verbal {
  background-color: #f3fbfa;
}
.verbal p {
  color: #00bb8f;
}
.visual {
  background-color: #f3f3fd;
}

.visual p {
  color: #1125d6;
}
.summaryResult p {
  color: #31364a;
  font-weight: bold;
}

.text100 {
  color: #9b97a2;
}
.wordSpacing {
  padding: 0 10px;

  color: #9b97a2;
}

button {
  border-radius: 25px;
  border: none;
  padding: 20px 30px;
  margin: 32px 0 15px 0;
  background-color: #303b5a;
  color: white;
  width: 100%;
  font-size: 1.1rem;
}
button:active,
button:hover {
  background: linear-gradient(to top, #6743fe, #312ceb);
  cursor: pointer;
  box-shadow: 0 0 10px #6743fe1a;
}

@media (max-width: 768px) {
  body {
    overflow-y: scroll;
    width: 100vw;
  }

  .attribution {
    position: relative;
  }

  .contentContainer {
    flex-direction: column;
    width: 100%;
    overflow: auto;
  }

  summaryContainer,
  .resultContainer {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
  .resultHeader {
    font-size: 1.5rem;
  }
  .circle {
    width: 150px;
    height: 150px;
  }
  .circle p {
    font-size: 3rem;
  }
  .summaryTitle {
    font-size: 1.1rem;
  }
  .result {
    font-size: 1rem;
  }
  .statsContainer {
    margin: 5px 0;
  }
  .subText img {
    padding: 0 5px;
  }
  .text100 {
    font-size: 0.8rem;
  }
  .wordSpacing {
    padding: 0 5px;
  }
  button {
    padding: 15px 20px;
    font-size: 1rem;
  }
}
